@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700;900&family=Poppins&display=swap');

@import "button";
@import "tab";
@import "content";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



